.containerPokedex {
  border-radius: 8px;
  padding: 10px;
  margin: 0%;
  padding-bottom: 3%;
  padding-top: 2%;
  width: 80%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
.pokemones_vistos {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 2%;
  margin-top: 7%;
}

/* --------------SPINNER----------- */
.pokemon {
  margin-top: 20%;
  position: relative;
  height: 100px;
  width: 100px;
  background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50%);
  border-radius: 50%;
  border: 8px solid black;
  animation: spin 1s linear infinite;
}

.pokemon::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 100px;
  background: black;
  top: 50px;
  transform: translatey(-50%);
}

.pokemon::after {
  content: "";
  position: absolute;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background: white;
  top: 50px;
  left: 50px;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 8px black, inset 0 0 0 10px white,
    inset 0 0 0 12px black;
}

/* Spin Animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error {
  color: red;
  margin-top: 15px;
}

/* ---------MEDIA QUERY-------- */

@media (max-width: 490px) {
  .containerPokedex {
    width: 100%;
  }
  .pokemones_vistos {
    margin-top: 7%;
  }
}
@media (max-width: 464px) {
  .button__next {
    color: black;
    border-color: black;
  }
}
