body {
  background-image: url("https://img.freepik.com/fotos-premium/paisaje-anime-natural-cielo-brillante-colores-jugosos_739292-2775.jpg?w=2000");
  backdrop-filter: blur(10px);
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: repeat-y;
}
@media (max-width: 464px) {
  body {
    background-image: url("");
  }
}
