body {
  background-image: url(../public/fondomain}.png);
  backdrop-filter: blur(10px);
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: repeat-y;
}
@media (max-width: 464px) {
  body {
    background-image: url("");
  }
}
